<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  <%- include('plantillas/header.ejs') -%>
    <main>

      <h1>Cargue aquí su videojuego:</h1>

      <div>
        <form action="/" method="POST">
          <label for="nombre">Nombre: </label>
          <input type="text" name="nombre" id="nombre" required><br>

          <label for="dev">Desarrollador: </label>
          <input type="text" name="dev" id="dev" required><br>

          <label for="publisher">Publisher: </label>
          <input type="text" name="publisher" id="publisher" required><br>

          <label for="precio">Precio en dólares: </label>
          <input type="number" name="precio" id="precio" placeholder="Pon 0 si es gratis" required><br>

          <label for="fecha">Fecha de lanzamiento: </label>
          <input type="date" name="fecha" id="fecha" required><br>

          <input type="submit" value="Añadir">
        </form>
      </div>
    </main>

    <%- include('plantillas/footer.ejs') -%>

</body>

</html>
