<!-- Template del footer -->

<footer>
    <div>
        <div>
            <p>Todos los derechos reservados a Joaquín Domenech</p>
            <a href="">Sobre mí</a>
        </div>
        <div>
            <p><b>Contactame:</b></p>
            <p>
                <a href="mailto:jdomenech@escuelasproa.edu.ar">Send mail</a>
                (jdomenech@escuelasproa.edu.ar)
            </p>
        </div>
    </div>
</footer>