<!-- Template del header -->

<header>
    <nav class="nav-bar">
        <ul>
            <li><a href="/">Formulario</a></li>
            <li><a href="/videojuegos">Videojuegos</a></li>
        </ul>
    </nav>
</header>