<!-- Template de tarjeta con bootstrap -->

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%= e.nombre %></h5>
        <p class="card-text"><b><%= e.dev %></b> - $<%= e.precio %></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
</div>